@model List<SizeGetDto>
@{
    ViewData["Title"] = "Sizes";
}

<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">Sizes</h4>
                    <a asp-action="Create" class="text-light btn btn-success">Add Size</a>
                </div>
                <div class="table-responsive">
                    <table class="table user-table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">Id</th>
                                <th class="border-top-0">Value</th>
                                <th class="border-top-0">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Size in Model)
                            {
                                <tr style="vertical-align: middle;">
                                    <td><span>@Size.Id</span></td>
                                    <td><span>@Size.Value</span></td>
                                    <td>
                                        <div>
                                            <a asp-action="Update" asp-route-id="@Size.Id">update </a>
                                            <a asp-action="Delete" asp-route-id="@Size.Id">delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



