@model List<CategoryGetDto>
@{
    ViewData["Title"] = "Categories";
}

<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">Categories</h4>
                    <a asp-action="Create" class="text-light btn btn-success">Add Category</a>
                </div>
                <div class="table-responsive">
                    <table class="table user-table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">Id</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Image</th>
                                <th class="border-top-0">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Category in Model)
                            {
                                <tr style="vertical-align: middle;">
                                    <td><span>@Category.Id</span></td>
                                    <td><span>@Category.Name</span></td>
                                    <td><div><img width="100" height="100" src="~/assets/img/category-images/@Category.Image" /></div></td>
                                    <td>
                                        <div>
                                            <a asp-action="Update" asp-route-id="@Category.Id">update </a>
                                            <a asp-action="Delete" asp-route-id="@Category.Id">delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

